<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chronoswood.doublechoose.dao.StudentDao">

    <update id="updateStudentInfo">
        UPDATE student
        SET user_name=#{userName}
        <if test="name!=null&amp;&amp;!name.isEmpty()">
            ,SET name=#{name}
        </if>
        <if test="gender!=null">
            ,SET gender=#{gender}
        </if>
        <if test="photoURL!=null">
            ,SET photo_url=
        </if>
    </update>
</mapper>